# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# LANeo@CanOfGarbage gitignore
Code/nbproject/project.xml
Code/nbproject/private/private.xml
Code/nbproject/private/launcher.properties
Code/nbproject/private/cpp_standard_headers_indexer.cpp
Code/nbproject/private/Makefile-variables.mk
Code/nbproject/configurations.xml
Code/nbproject/Package-Release.bash
Code/nbproject/Package-Debug.bash
Code/nbproject/Makefile-variables.mk
Code/nbproject/Makefile-Release.mk
Code/nbproject/Makefile-Debug.mk
Code/nbproject/private/configurations.xml
Code/nbproject/private/c_standard_headers_indexer.c
Code/nbproject/Makefile-impl.mk

# basic netbeans gitignore
Code/nbproject/private/
Code/nbproject/
Code/build/
Code/nbbuild/
Code/dist/
Code/nbdist/
Code/.nb-gradle/
Code/.dep.inc
Code/MakeFile

RKDdummyServer/nbproject/
